<!DOCTYPE html>
<html>
<head>
	<title>profile</title>
<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">

<!-- Optional theme -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap-theme.min.css">
</head>
<body>

<nav class="navbar navbar-default navbar-fixed-top">
  <div class="container">
  <div class="right">
<div class="dropdown">
  <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true"><span class="glyphicon glyphicon-plus"></span>
       <span class="caret"></span>
  </button>
  <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
    <li><a href="">Calendar</a>
				  <li><a href="">Notes</a></li>
				  <li><a href="">To Do </a></li>
				  <li><a href="">playlist</a></li>
				  <li><a href="">clock</a></li>
	              <li><a href="">my files</a></li>
	              <li><a href="tasks#index">Tasks </a></li>
				  <li><a href="https:www.accuweather.com">weather</a></li>
				  <li><a href="https://www.facebook.com">Facebook</a></li>
				  <li><a href="https://instagram.com">Instagram</a></li>
				  <li><a href="https://www.google.com">Google </a></li>
				  <li><a href="https://maps.google.com">Maps</a></li>
  </ul>

</div>
</div>
<div class="right1">
<div class="dropdown">
  <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
    <img height="20" src="https://encrypted-tbn2.gstatic.com/images?q=tbn:ANd9GcRYI_E6petsjAPTl-mL1rH-Sy3nLNMlRL6C4U-36mfLjgsCT6kORvBf4tHH" width="20">
    <span class="caret"></span>
  </button>
 <ul class="dropdown-menu" aria-labelledby="dropdownMenu3">
   <li class="dropdown-header">Signed in as <%= current_user.email %></li>
    <li><a href="#"></a>Sign Out</li>
    
  
</div>

  </ul>
  </div>
  </div>
  </div>
</nav>
<script src="http://code.jquery.com/jquery-2.1.4.min.js"></script>
<!-- Latest compiled and minified JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
</body>

<footer><span class="glyphicon glyphicon-copyright-mark"></span><b> 2015</b> 
</footer>
</html>
