<!DOCTYPE html>
<html>
<head>
	<title>profile</title>

</head>
<body>
<h1>welcome to your profile</h1><br>
<ul>
	<li><a href="">Calendar</a></li>
	<li><a href="">Notes</a></li>
	<li><a href="">To Do </a></li>
	<li><a href="">playlist</a></li>
	<li><a href="">weather</a></li>
	<li><a href="https://maps.google.com">google Maps</a></li>
	<li><a href="https://www.google.com">google </a></li>
	<li><a href="https://www.facebook.com">Facebook</a></li>
	<li><a href="https://www.youtube.com">Youtube</a></li>
    <li><a href="">clock</a></li>
	<li><a href="">my files</a></li>
	
</ul>
</body>
<footer>(c)2015 <%= link_to "Sign out",  destroy_user_session_path,  method: :delete %>
</footer>
</html>
